body{
    background: white;
}

.main-heading h1{
    text-align: center;
}

div #baloons div{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 130px;
    border: 0px solid black;
}

#red{
    background-color: red;
    border-radius: 80px;
    cursor:crosshair;
    /* animation: balloon 15s 3.2s infinite ease-in; */
}

#blue{
    background-color: blue;
    border-radius: 80px;
    cursor:crosshair;
}


#pink{
    background-color: pink;
    border-radius: 80px;
    cursor:crosshair;
}


#orange{
    background-color: orange;
    border-radius: 80px;
    cursor:crosshair;
}


#purple{
    background-color: purple;
    border-radius: 80px;
    cursor:crosshair;
}