body{
    background: white;
}
h1.main-heading{
    text-align: center;
}

#balloons div{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100px;
    border: 0px solid black;
}

  
#balloons div {
    -webkit-animation: upNdown 10s infinite linear;
    animation: upNdown 10s infinite linear;
}
@-webkit-keyframes upNdown {
     0% { transform: translateY(50px); }
     50% { transform: translateY(-800px); }
     100% { transform: translateY(-1000px);}
}

@keyframes upNdown {
     0% { transform: translateY(50px);}
     50% { transform: translateY(-800px); }
     100% {transform: translateY(-1000px); }
}

#red{
    /* animation: MoveUpDown 1s linear infinite; */
    background-color: red;
    border-radius: 80px;
    cursor:crosshair;
    margin: 3% 0 0 4%;
    /* animation: balloon 15s 3.2s infinite ease-in; */
}

#blue{
    background-color: blue;
    border-radius: 80px;
    margin: 3% 0 0 60%;
    cursor:crosshair;
}


#pink{
    background-color: pink;
    border-radius: 80px;
    cursor:crosshair;
    margin: 3% 0 0 40%;

}


#orange{
    background-color: orange;
    border-radius: 80px;
    cursor:crosshair;
    margin: 1% 0 0 15%;
}


#purple{
    background-color: purple;
    border-radius: 80px;
    cursor:crosshair;
    margin: 2% 0 0 80%;
}
